<div class="homepage">
  <h1>Welcome to Homepage</h1>

  <ul>
    <li><%= link_to 'About Us', about_path %></li>
    <li><%= link_to 'Contacts', pages_contact_path %></li>
  </ul>
  <hr/>

  <div class="block-1">
    <p>
      Lorem ipsum dolor akis met derpahran masquito von der bar.
      Dumping around lorow will affect kind of virtualization into the whole system problem.
      Systematic solution for this is to input all your things in one round.
      And you notice that this is really big bullshit.
    </p>
  </div>

  <div class="block-2">
    <p>Thi is another bullshit block, where you can find out what is interesting and what is not interesting for you. Because you know!!! soon i'm going to be a big entrepreneur.</p>
  </div>

</div>